$primary-color: purple;
$secondary-color: #c39bd3;
$third-color: #58d68d;
$display-flex: flex;
$align: center;
$font-family-primary: 'Bungee', cursive;
$font-family-secondary: "Questrial", serif;

footer {
    text-align: center !important;
    display: flex !important;
    justify-content: center !important;
    bottom: 0 !important;
    width: 100% !important;
    height: 32px !important;
    padding-bottom: 16px !important;
    background: linear-gradient(to right, $primary-color, $third-color) !important;
    border-top: 2px solid $primary-color !important;
    z-index: 2000 !important;
    position: fixed !important;
}

footer p {
    color: white !important;
    font-family: "Questrial", serif !important;
    margin: 8px 0 !important;
}